/*set default font and resized text properly for edge and safari */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html
{
font-family: 'Nunito', sans-serif;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}

body
{
background-color: #f6f6f6;
}

h1
{
color: #1c1f21;
padding: 50px 0;
text-align: center;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

table {
  margin: 40px 100px;
  max-width: 1000px;
}

.bookname
{
vertical-align: top;
}
.top
{
position: absolute;
top: 1;
margin : 0px 20px;
}

td
{
vertical-align: bottom;
}
.bottom
{
padding: 0px 20px;
}

.book-title-row {
    color: #49AFD0;
    font-size: 24px;
}

/* search bar */
.search-bar {
    width: 400px; /* Largeur de la barre de recherche */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* search bar button */
.search-button {
    background-color: #4285f4; /* Couleur de fond similaire à Google */
    color: #fff; /* Couleur du texte */
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}
header {
    text-align: center;
}

/* page buttons */
.pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 500px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #357ebd;
}

/* add new book button */
.btn.btn-primary {
    border-radius: 50px;
    margin: 10px 160px;
    background-color: #4285f4;
}