body
{
background-color: #f6f6f6;
}

a {
    text-decoration: none;
}
/**/
.btn.btn-primary {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}


/* form */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* label form */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* input fields */
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* error */
.error-message {
    color: red;
    margin-top: 5px;
}
