<!DOCTYPE html>
<form method="post">
<label for="title">Titre du livre :</label>
<input type="text" id="title" name="title">

<label for="author">Auteur :</label>
<input type="text" id="author" name="author">



<label for="publication_date">Date de publication :</label>
<input type="date" id="publication_date" name="publication_date">



<label for="summary">Résumé :</label>
<textarea id="summary" name="summary"></textarea>



<label for="image">Image :</label>
<input type="file" id="image" name="image">



<label for="genre">Genre :</label>
<select id="genre" name="genre">
    <option value="romance">Romance</option>
    <option value="fiction">Fiction</option>
    <option value="nonfiction">Non-fiction</option>
    <option value="other">Autre</option>
</select>



<label for="rating">Note :</label>
<input type="number" id="rating" name="rating">



<input type="submit" value="Ajouter un livre">
</form>